@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.Titulo{
    
    font-family: 'Montserrat', sans-serif;
}
.campo{
   width: 366px;
   height: 40px;
   border-radius: 5px;
   padding-left: 10px;
}